<ul class='positionList'>
    <li>        
        <img src="../../image/company-3.png" alt="">
        <p>0</p>
    </li>
    <li ui-sref='position({id:item.id})' ng-repeat='item in data|filterByObj:filterObj'>
        <img ng-src="{{item.img}}" alt="">
        <p>{{item.p}}</p>
        <img ng-src="{{item.imageUrl}}" alt="">
        <p class="text" ng-bind="item.companyName+'['+item.cityName+']'+' '+item.industryName +' '+item.scaleName"> </p>
        <p class="text c-r" ng-bind="item.salaryName"></p>
        <p class="text" ng-bind="item.date"></p>
        <i class='star {{item.select?"on":""}}' ng-if='isFavorite' ng-click='$event.stopPropagation();select(item);'></i>
    </li>
</ul>