<form name='form'>
    <input type="text" placeholder="请输入手机号" validator='required,phone' name='phone' ng-model='user.phone'>
    <br/>
    <input type="text" placeholder="设置6位以上的密码" validator='required,password' ng-model='user.password' name='password'>
    <br/>
    <input type="text" placeholder="短信验证码" validator='required' ng-model='user.code' name='code'><span class='message {{time?"disabled":""}}' ng-click='time?1==1:send();' ng-bind='time?time:"发送短信"'></span>
</form>
<br/>
<button ui-sref='login'>登录</button>
<br/>
<button validation-submit='form' ng-click='submit()'>注册</button>
